%h1= t("admin.language.listing")

= render partial: "shared/flash_messages"

%br

%table.table.table-striped
  %tr
    %th= Language.model_name.human
    %th= t("global.actions")

  - @languages.each do |language|
    %tr
      %td= language.name
      %td
        = link_to t("global.edit"), edit_language_path(language), class: %w[ btn btn-mini ]
        = link_to t("global.destroy"), language,
          data: { confirm: t("global.delete_confirm") },
          method: :delete,
          class: %w[ btn btn-mini btn-danger ]

= link_to t("admin.language.new"), new_language_path, class: %w[ btn btn-primary ]
