= form_for @service, html: { class: %w[ form-horizontal ] } do |service_form|
  %fieldset
    %legend= @form_legend
    = present @service, :service_form_presenter, service_form do |p|
      = p.errors
      = p.name
      = p.code
      = p.social
      = p.password_auth
      = p.actions back: services_path
