%h1= t("admin.service.listing")

= render partial: "shared/flash_messages"

= link_to t("admin.service.new"), new_service_path, class: %w[ btn ]
%br
%br

%table.table.table-striped
  %tr
    %th= Service.human_attribute_name(:name)
    %th= Service.human_attribute_name(:code)
    %th= t("global.actions")

  - @services.each do |service|
    %tr
      %td= service.name
      %td= service.code
      %td
        = link_to t("global.edit"), edit_service_path(service), class: %w[ btn btn-small ]
        = link_to t("global.destroy"), service,
          data: { confirm: t("global.delete_confirm") },
          method: :delete,
          class: %w[ btn btn-small btn-danger ]
