%h1= t("admin.shard_languages.listing")

= render partial: "shared/flash_messages"

%br

%table.table.table-striped
  %tr
    %th= Language.model_name.human
    %th= t("global.actions")

  - @shard.shard_languages.each do |sl|
    %tr
      %td{ class: "name" }
        = sl.language.name
        = "(#{sl.domain})" if @shard.settings.has_site
      %td{ class: "operations" }
        = link_to t("global.edit"), edit_shard_shard_language_path(@shard, sl), class: %w[ btn btn-mini ]
        = link_to t("global.destroy"), [@shard, sl],
          data: { confirm: t("global.delete_confirm") },
          method: :delete,
          class: %w[ btn btn-mini btn-danger ]

= link_to t("admin.language.new"), new_shard_shard_language_path(@shard), class: %w[ btn btn-primary ]
