= form_for @shard, html: { class: %w[ form-horizontal ] } do |shard_form|
  %fieldset
    %legend= @form_legend
    = present @shard, :shard_form_presenter, shard_form do |p|
      = p.errors
      = p.name
      = p.gem_name
      - @settings.each do |setting|
        = p.setting setting
      = p.author_features
      = p.master_features
      = p.actions back: shards_path
