= form_for [:admin, @user], html: { class: %w(form-horizontal) } do |user_form|
  %fieldset
    %legend= @form_legend
    = present @user, :user_form_presenter, user_form do |p|
      = p.errors
      = p.email
      = p.password
      = p.password_confirmation
      = p.roles
      = p.actions back: admin_users_path
