%h1= translate('admin.user.listing')

= render partial: "shared/flash_messages"

= link_to t('admin.user.new'), new_admin_user_path, class: %w(btn)
%br
%br

%table.table.table-striped
  %tr
    %th= User.human_attribute_name(:email)
    %th= Role.model_name.human
    %th= t('global.actions')

  - @users.each do |user|
    %tr
      %td= link_to user.email, edit_admin_user_path(user)
      %td
        - user.assignments.each do |a|
          = a.role.name
          - if a.shard
            of
            = a.shard.name
            shard
          %br
      %td
        = link_to translate('global.edit'), edit_admin_user_path(user), class: %w(btn btn-small)
        = link_to translate('global.destroy'), [:admin, user], :confirm => 'Are you sure?', :method => :delete, class: %w(btn btn-small btn-danger)
