%h1= t("admin.shard_user.listing")

= render partial: "shared/flash_messages"

%br

%table.table.table-striped
  %tr
    %th= User.model_name.human
    %th= t("global.actions")

  - @shard_users.each do |user|
    %tr
      %td{ class: "name" }
        = user.email
        &mdash;
        = user.roles_for_shard(@shard).map{ |role| t("admin.role.#{role.name}") }.join(", ")
      %td{ class: "operations" }
        = link_to t("global.edit"), edit_shard_shard_user_path(@shard, user), class: %w[ btn btn-mini ]
        = link_to t("global.destroy"), shard_shard_user_path(@shard, user.id),
          data: { confirm: t("global.delete_confirm") },
          method: :delete,
          class: %w[ btn btn-mini btn-danger ]

= link_to t("admin.shard_user.new"), new_shard_shard_user_path, class: %w[ btn btn-primary ]
