%h1= translate('admin.shard_users.listing')

= render partial: "shared/flash_messages"

= form_tag(add_admin_shard_shard_users_path(@shard)) do
  = label_tag :user_email, 'Add user by email'
  = text_field_tag :user_email
  %br
  = label_tag :role_ids, 'as'
  = select_tag :role_ids, options_from_collection_for_select(Role.shard_roles,'id','name'), :multiple => true
  %br
  = submit_tag "Add"
=# link_to translate('admin.shard_users.add'), new_admin_shard_shard_user_path(@shard), class: %w(btn)
%br
%br

%table.table.table-striped
  %tr
    %th= User.model_name.human#attribute_name(:name)
    %th= t('global.actions')

  - @shard.assignments.each do |a|
    %tr
      %td{:class => "name"}
        = a.user.email
        as
        %strong= a.role.name
      %td{:class => "operations"}
        =# link_to t('global.edit'), edit_admin_shard_path(shard), class: %w(btn small)
        = link_to t('global.revoke'),  revoke_admin_shard_shard_users_path(@shard,:assignment_id=>a.id), :confirm => 'Are you sure?', :method => :delete, class: %w(btn btn-small btn-danger)
